body{
    background-color: cadetblue;
    font-size: 0;
}

.element{
    border: 1px solid red;
    height: 70px;
    width: 33%;
    display: inline-block;
    font-size: 12px;
}

#special{
    width: 600px;
    height: 130px;
    margin: 10px;
    background-color: crimson;
    border: 5px solid yellow;
    border-bottom-width: 10px;
    padding-left: 20px;
}