ul.stripped{

}

ul.stripped li{
    background-color: tomato;
}

ul.stripped li:nth-child(even){
    background-color: turquoise;
}

ul.stripped li:nth-child(3n){
    font-weight: bold;
    color: yellow;
}


ul.stripped li:first-child, 
ul.stripped li:last-child{
    text-align: right;
}

ul.stripped li:hover{
    opacity: 0.7;
}
p::first-letter{
    color: red;
    font-size: 30px;
    font-weight: bold;
}