body{
    margin: 0;
}

.navigation{
    background: red;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation li{
    width: 24%;
    display: inline-block;
    background: blue;
    text-align: center;
    padding: 5px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}