body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('2.CSS/12. Background/img/moldova_map.png');
    background-attachment: fixed;
    background-size: contain;
    margin: 0;
    padding: 0;
}


header{
    font-size: 33px;
    font-weight: bold;
    background-color: rgb(236, 240, 9);
    text-align: center;
    padding: 1em;
    color: rgb(4, 65, 34);
}

header img{
    width: 100px;
}

header h1{
    font-size: 23px;
}

section{
    background-color: #ffffff55;
    padding: 5em;
    margin: 0;
}

ul{
    background: #c3eb67;
    list-style: none;
    opacity: 0.9;
    padding: 1em 0;
}

ul li{
    padding-left: 20px;
}

ul article header{
    font-weight: bold;
    height: auto;
    font-size: 23px;
    padding: 1em;
}


ul li ul{
    list-style: none;
}

ul li ul li{
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid lightgray;
    margin-left: 40px;
}

ul li ul li:hover{
    opacity: 0.5;
    padding: 5px;
    margin-bottom: 1px;
    border: 1px dotted green;
    padding-left: 35px;
    text-transform: uppercase;
}

ul li:hover{
    opacity: 1;
    background-color: #eee;
}

ul li ul li a{
    color: rgb(30, 5, 121);
    text-decoration: none;
    display: block;
}


footer{
    background-color: rgb(6, 197, 32);
    color: white;
    text-align: center;
    height: 10em;
    padding-top: 2em;
}